#chat-page .chat-me .am-list-extra {
	flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
	padding-right: 15px;
	text-align: right;
}

.stick_footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}